* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	margin-bottom: 100px;
}

h1 {
	text-align: center;
}

section {
	padding: 10px;
	float: left;
}

section h2 {
	float: right;
	padding: 5px;
	background: #ff5722;
	border: 3px solid #333;
}
section p {
	clear: left;
}
